.mobile-nav {
    height: 100vh;
}

.my-node-enter {
    
    opacity: 0;
    /* right:-100%; */
  }
  .my-node-enter-active {
    opacity: 1;
    /* right:0; */
    transition:  opacity 600ms;
  }
  .my-node-exit {
    opacity: 1;
    /* right: 0; */
  }
  .my-node-exit-active {
    opacity: 0;
    /* right: -100%; */
    transition:  opacity 600ms;
  }


  .linkItem:after {
    content: "\276F"; /* Unicode representation */
    margin-left: 10px;
}