.landing--section {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.hero--container {
  background: url("/hero2.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(210, 112, 42, 0.478);
  background-blend-mode: multiply;
}
.fade-in-text {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 455px) {
  .hero--container {
    background-size: 800px 800px;
    background-color: rgba(210, 112, 42, 0.478);
    background-blend-mode: multiply;
    background-position-x: 15%;
    background-position-y: 10%;
  }
}
