.landing--section {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.hero--container {
  background: url("/testImage.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(144, 185,196, 0.554);
  background-blend-mode: multiply;
  background-position-x: 30%;
  background-position-y: 10%;
}
.fade-in-text {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 455px) {
  .hero--container {
    background-size: 800px 800px;
    background-color: rgba(144, 185,196, 0.554);
    background-blend-mode: multiply;
    background-position-x: 50%;
    background-position-y: 10%;
  }
}
