@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-rootBox,
.cl-signIn-root,
.cl-internal-phfxlr,
.cl-card {
  font-size: 14px;
  text-transform: none;
  box-shadow: none;
  padding: 1;
}

.cl-internal-b3fm6y,
.cl-headerSubtitle {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
}
