@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --primary-color: #343f3e;
  --primary-color-light: #5a6866;
  --secondary-color: #505A5B;
  --accent-color: #94B0DA;
  --secondary-accent: #8F91A2;
  --background-color: #DCEDFF;
 }

.cl-rootBox,
.cl-signIn-root,
.cl-internal-phfxlr,
.cl-card {
  font-size: 14px;
  text-transform: none;
  box-shadow: none;
  padding: 1;
}

.cl-internal-b3fm6y,
.cl-headerSubtitle {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
}

body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow-y: auto;
  background: url("/testImage.jpg") no-repeat center;
  background-size: cover;
  background-color: rgba(144, 185, 196, 0.554);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: 24% 10%;
}

  .background {
display:none; 
} 
