.custom-radial {
    background: radial-gradient(circle, rgba(148, 176, 218, 0.399), #343f3e);
}
.circle {
    position: relative;
    width: 60px;
    height: 70px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
